*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(238, 234, 234);
}
.card {
    position: relative;
    height: 450px;
    width: 250px;
    margin: 120px auto;
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    background-color: rgb(207, 218, 219);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 50px;
    box-shadow: 10px 5px 5px;
}

.image {
    height: 450px;
    width: 250px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 10px 5px 5px;
}

.card:hover .front {
	transform: rotateY(-180deg);
    transition: transform 2s;
    animation: scale 1.5s linear infinite alternate;
}
.card:hover .back {
	transform: rotateY(0deg);
    transition: transform 2s;
    animation: scale 1.5s linear infinite alternate;
}


@keyframes scale {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: skew(180deg);
    }
    100% {
      transform: scale(2);
    }
  }